# exclude non-dot files
/[^.]*
#

# Ignore most dotfiles.
/.Xauthority
/.adobe
/.bash_history
/.bash_logout
/.bash_profile
/.cache
/.config
/.dbus
/.dropbox
/.dropbox-dist
/.emacs.d/emacs_backups/
/.gconf
/.gem
/.gnome
/.gnome2
/.gnome2_private
/.gnucash
/.gnupg
/.gstreamer-0.10
/.ICEauthority
/.irssi
/.lesshst
/.local
/.macromedia
/.mkshrc
/.mozilla
/.npm
/.pki
/.profile
/.pulse-cookie
/.rvm
/.ssh
/.steam
/.steampath
/.steampid
/.uml
/.vim
/.viminfo
/.workrave
/.zlogin
/.zshrc
